{{> post-info post }} 
{{ post.post_body}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body" placeholder="Add a comment..."></textarea>
  </div>

  <div>
    <button type="submit">Submit comment</button>
  </div>
</form>
{{/if}}
  <div> Comments:
{{> comments post.comments }}

{{#if loggedIn}}
  </div>
<script src="/javascript/comment.js"></script>
{{/if}}